
<div class="sidebar">
    <div class="menu list-group list-group-flush">
        <AuthorizeView>
            <Authorized>
                <NavLink class="list-group-item list-group-item-action" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/assetoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ativos
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/portfoliooverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Portfolios
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/addportfolio">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Adicionar Portfolio
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/transacoes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Transações
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

