@page "/home"

<h1 class="page-title">Bem-vindo ao Tech Challenge - Gestão de Investimentos</h1>

<br />
<h3>Usando essa aplicação, você tem acesso a todas as funcionalidades do Tech Challenge - Gestão de Investimentos.</h3>
