@page "/"

<h1 class="page-title">Bem-vindo ao Tech Challenge - Gestão de Investimentos</h1>
<br />
<h4>Usando essa aplicação, você tem acesso a todas as funcionalidades do Tech Challenge - Gestão de Investimentos.</h4>

<br />

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="NavigateToLogin">Click here to log in</button>
        <br />
        <button @onclick="NavigateToRegister">Click here to register</button>
    </NotAuthorized>
</AuthorizeView>